@model KingPim.Models.ProductsViewModels.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>Created</th>
        <th>Last Modifed</th>
        <th>Published/Not Published</th>
        <th>Version</th>
        <th>Modifed By</th>
        <th>Redigera</th>
    </tr>
    @foreach (var item in Model.Product)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReadOnlyAttribute.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadOnlyAttribute.LastModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadOnlyAttribute.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadOnlyAttribute.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadOnlyAttribute.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
        </td>
    </tr>
        
    }
</table>
